@import 'tailwindcss';
@plugin "@toolwind/corner-shape";
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@font-face {
  font-family: 'General Sans';
  src: url('/fonts/GeneralSans-Variable.woff2') format('woff2'),
       url('/fonts/GeneralSans-Variable.woff') format('woff'),
       url('/fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('/fonts/GeneralSans-VariableItalic.woff2') format('woff2'),
       url('/fonts/GeneralSans-VariableItalic.woff') format('woff'),
       url('/fonts/GeneralSans-VariableItalic.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}

@theme {
  --font-general: 'General Sans', sans-serif;
}

.grid-bg {
  background-size: 100px 200px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
}
